* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* top-bar */
.top-bar-main {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;

}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: white;
    height: 38px;
    width: 95%;
}

/* top bar location */
#loaction-img {
    width:10px;
    height:15px; 
    margin-top: 16px; 
    margin-right: 3px;
}

/* top bar call */
#call-img {
    width:12px; 
    height:13px;
    margin-right: 3px;
    margin-top: 17px;
}

/* top bar email img */
#email-img {
    width:16px;
    height:13px;
    margin-top: 17px; 
    margin-right: 3px
}

/* top-bar-text */
.top-bar-text {
    margin-top: 13px;
}


/* nav bar */









/* about  */
.about-img-container {
    width: 50%;
}
.about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
#about-img {
    width: 100%;
    height: 58%;
}
#about-img img {
    width: 95%;
    height:  98%;
    position: relative;
    margin-left: -40%;

}

/* card */
.card-body {
    width: fit-content;
    height: fit-content;

}


.btn:hover {
    background-color: white !important;
    border-color: #f1db25 !important;
    color: #f1db25 !important;
}





















































/* responsive */

@media (max-width:1150px) {
    
}



















@media (max-width:576px) {

    /* top-bar-main */
    .top-bar-text {
        display: none;
    }
    
    /* location-img */
    #loaction-img {
        margin-top: 0px;
        width: 18px;
        height: 22px;
    }

    /* call-img */
    #call-img {
        margin-top: 0px;
        width: 18px;
        height: 18px;
    }

    /* email-img */
    #email-img {
        margin-top: 0px;
        width: 20px;
        height: 17px;
    }
    
}